div.jumbotron {
  background-image: url(images/back.jpg);
  background-repeat: no-repeat;
  background-position: left center;
}

@media (min-width: 768px) {
  label.col-form-label {
    text-align: right;
  }
}

.result {
  padding: 15px;
  font-size: 120%;
}

.copy {
  position: sticky;
  top: 0;
  height: 0;
  text-align: right;
  font-size: 0.7em;
  z-index: 10;
}
.copy button {
  color: #ffffff;
  background-color: #007bff;
  border-width: 0;
}

.form-inline input {
  display: inline-block;
}

blockquote {
  border: 1px solid #e6e6e6;
  background: #f3f3f3;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
